/* ==== RESET BÁSICO ==== */

/* Remove margens e paddings padrão e ajusta o box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== VARIÁVEIS DE TEMA ==== */
:root {
    --cor-fundo-primaria: #3B27D1; /* Azul principal */
    --cor-fundo-secundaria: #1A0F5C; /* Azul escuro para detalhes */
    --texto-primaria: #F5F9C8; /* Branco para texto principal */
    --texto-cinza: #E0E0E0; /* Cinza claro para texto secundário */
    --texto-cinza-escuro: #B8B8B8; /* Cinza escuro para detalhes */
}

/* ==== ESTILIZAÇÃO GERAL ==== */

@font-face {
    font-family: 'Ranch Water';
    src: url('Ranch-Water-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Amber Flow";
    src: url('AmberFlow-Regular.otf') format('opentype');
}

body {
  background-color: var(--cor-fundo-primaria);
  color: var(--texto-primaria);
  font-family: 'Ranch Water', sans-serif;
  line-height: 1.6;
  font-size: 18px;

} 

/* Estilos para tag <address> para remover o itálico padrão do navegador */
address {
  font-style: normal;
}

/* ==== CABEÇALHO ==== */
.header {
  background-color: #000000;
  position: fixed; /* Fixa o cabeçalho no topo */
  width: 100%;
  z-index: 10;
  padding: 0.3rem 0; /* reduzido de 0.5rem */
}

.nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap; /* Permite quebra de linha em telas menores */
  gap: 1rem;
}

.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.menu a {
  color: var(--texto-primaria);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* Botão "Let's Talk" */
.botao {
  background-color: var(--texto-primaria);
  color: #000000 !important; /* !important para sobrescrever a cor do link */
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

/* ==== MAIN ==== */

/* centraliza o conteúdo da seção hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* ocupa a altura total da viewport */
}

.hero-container {
  text-align: center;
}

.hero-title, .hero-title3 {
  font-size: clamp(4rem, 8vw, 6rem); /* maior e responsivo */
  line-height: 1.1;
  color: #000000;
  font-family: 'Amber Flow', sans-serif;
}

.hero-title2 {
    font-size: clamp(4rem, 8vw, 6rem);
    line-height: 1.1;
    font-family: 'Amber Flow', sans-serif;
}

.hero-description {
    background-color: var(--cor-fundo-secundaria);
    display: flex;
    height: 1040px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 300;
    line-height: 1.3;
    color: var(--cor-texto-primaria);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#services, #contact {
    background-color: var(--cor-fundo-secundaria);
 
}

#about {
    display: flex;
    flex-direction: column;
    height: 1040px;
}

.section-title {
    display: flex;
    justify-content: center;
    font-size: 3.0rem; 
    font-weight: 700;
    text-transform: uppercase;
}

.section-subtitle{
    display: flex;
    justify-content: flex-end;

}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 200px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    text-align: end;
}